<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Registro de Paciente QR{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <style>
        /* Estilos opcionales para centrar el formulario si quieres un look más de landing page */
        body {
            background-color: #faf8f8; /* Color de fondo claro */
        }
        .container {
            
            max-width: 2000px; /* Aumentar a 1000px para acomodar 3 columnas con margen */
            width: 100%; /* Usar un porcentaje para ser flexible */
        }
    </style>
</head>
<body>

    <header style="background-color: #d9534f; color: white; padding: 10px 20px; margin-bottom: 20px;">
        <div class="container-fluid">
            <h4 style="margin: 0;">Registro y Vinculación QR</h4>
        </div>
    </header>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="row">
                    <div class="col-md-12">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    {% block scripts %}{% endblock %}

</body>
</html>